* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma;
}

header {
    padding: 4em;
    color: white;
    background: linear-gradient(to top right, #2727aa, #3d3dff, #2727aa);
    height: 15vh;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px black;
}

div.style {
    background-color: #e0e0e0;
    color: white;
}

div.languages {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

div.style-wybor, div.style-zaslona, div.languages-wybor {
    background: black;
    display: flex;
    position: absolute;
}

div.style-wybor, div.style-zaslona {
    justify-content: flex-start;
    width: 6.5em;
    padding: 0.4em 0.4em 0.6em 0.4em;
    border-bottom-right-radius: 1em;
}

div.style-zaslona {
    background: black;
    justify-content: center;
    padding: 0.6em 0.4em 0.9em 0.4em;
    border-bottom-right-radius: 1em;
    font-weight: bold;
    text-shadow: -1px 0 2px #3d3dff, 0 1px 2px #3d3dff, 
                 1px 0 2px #3d3dff, 0 -1px 2px #3d3dff;
    transition: 1s;
}

div.style-zaslona-none {
    opacity: 0;
    transition: 0.5s;
}

.style-wybor button {
    padding: 0.8em;
    margin: 2px;
    border: 1px solid gray;
    cursor: pointer;
}

.style-wybor button:active {border: 1px solid white;}
.style-wybor button.styl1 { background-color: #888888;}
.style-wybor button.styl2 { background-color: #d2d2d2;}
.style-wybor button.styl3 { background-color: #1c1c1c;}

div.languages-wybor {
    border-top-left-radius: 1em;
    padding: 0.6em 0.5em 0.3em 0.4em;
}

.languages-wybor img {
    cursor: pointer;
    margin-left: 7px;
    filter: blur(0.5px);
    opacity: 0.9;
    border: 1px solid transparent;
}

.languages-wybor img:active {border: 1px solid white;}

div.space {
    background-color: black;
    height: 1em;
}

div.aplikacja {
    background-color: #e0e0e0;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.centering {
    height: 100%;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 50%;
}

footer {
    padding: 3em;
    color: white;
    background: linear-gradient(to top right, #2727aa, #3d3dff, #2727aa);
    margin: 0;
    height: 10vh;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
    overflow-y: hidden;
}

div.stopka:nth-child(2), div.stopka:nth-child(3) {
    z-index: 2;
}

div.stopka img {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    background: radial-gradient(closest-corner at 50% 55%,
    transparent 20px, #3d3dff 10px);
    transition: 0.5s;
}

div.stopka img:hover {
    background: radial-gradient(closest-corner at 50% 55%,
    black 20px, #3d3dff 10px);
    box-shadow: 0 0 20px 5px black;
}

/* główne ustawienia ^ */

div.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto;
    overflow: clip; */
    padding: 2vw;
}

div.pamiec-container {
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 80%;
    padding: 2vw;
}

div.pamiec-container h2 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

div.grid-container, div.pamiec-container {
    border: 0.75em solid transparent;
    background: linear-gradient(to bottom left, #777, #555) padding-box,   /*wnętrze*/
                linear-gradient(to top left, #606060, #777) border-box;  /*ramka*/
    gap: 0.5vw;
    border-radius: 40px;
    min-height: fit-content;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    box-shadow: 4px 4px 2px 4px #333;
}

button.grid-item {
    text-align: center;
    height: 8vh;
    width: 9vh;
    border-radius: 20px;
    border: 4px solid transparent;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 8vh;
    max-width: 9vh;
    font-size: 1.25em;
    box-shadow: 6px 6px 3px #333;
}

@media screen and (max-width: 950px), (max-height: 500px) {
    div.grid-container, div.pamiec-container {
        font-size: 75%;
    }
    div.item0 {
        font-size: 1.5em;
    }
    button.grid-item {
        font-weight: bold;
        max-width: none;
        height: 60px;
        width: 60px;
        max-height: 75px;
        max-width: 80px;
    }
    div.centering {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.grid-container button {
    background: linear-gradient(to top right, #777, #999) padding-box,   /*wnętrze*/
                linear-gradient(to bottom left, #aaa, #777) border-box;  /*ramka*/
}

.grid-container button:hover {
    background: linear-gradient(to top left, #777, #999) padding-box,
                linear-gradient(to bottom left, #aaa, #777) border-box;
}

.grid-container button:active {
    box-shadow: 2px 2px 3px #333;
    color: white;
    background: linear-gradient(to top, #999, #777) padding-box,
                linear-gradient(to top, #666, #666) border-box;
}

button.memory {
    grid-column: 1 / span 2;
    width: 100%;
    max-width: none;
}

button.operator, button[value="%"] {
    background: linear-gradient(to top right, #999, #aaa) padding-box, 
                linear-gradient(to bottom left, #bbb, #999) border-box;
}

button.operator:hover, button[value="%"]:hover {
    background: linear-gradient(to top left, #999, #aaa) padding-box, 
                linear-gradient(to bottom left, #bbb, #999) border-box;
}

button.operator:active, button[value="%"]:active {
    color: white;
    background: linear-gradient(to top, #aaa, #999) padding-box,
                linear-gradient(to top, #888, #888) border-box;
}

button.oblicz {
    color: white;
    background: linear-gradient(to top right, #3b3bf8, #5b5bf8) padding-box, 
                linear-gradient(to bottom left, #6b6bf8, #3b3bf8) border-box;
}

button.oblicz:hover {
    background: linear-gradient(to top left, #3b3bf8, #4b4bf8) padding-box, 
                linear-gradient(to bottom left, #6b6bf8, #3b3bf8) border-box;
}

button.oblicz:active {
    color: black;
    background: linear-gradient(to top, #3b3bf8, #5b5bf8) padding-box, 
                linear-gradient(to top, #3b3bf8, #3b3bf8) border-box;
}

div.item0 {
    padding: 0 1em 0 0;
    grid-column: 1 / span 4;
    background: #ddd;
    height: 70px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    cursor: text;
    border-radius: 10px;
    max-width: none;
    max-height: none;
    box-shadow: none;
}

div.item0:hover {
    background: #ddd;
    color: black;
}
/* Blink */
div.item0_2 {
    animation: blink 0.8s;
    overflow: hidden;
}

@keyframes blink {
    0%   {border-top: 0px solid black; background: #ddd;}
    25%  {border-top: 70px solid black; background: #ddd;}
    25.1%{background: black;}
    70%  {border-top: 70px solid black; background: black;}
    70.1%{background: #ddd;}
    100% {border-top: 0px solid black; background: #ddd;}
}

div.operacja2 {
    font-size: 0.7em;
    visibility: hidden;
}

div.operacja1 {
    height: 55%;
    font-size: 1.5em;
}
/* tu zmieniac widocznosc panelu bocznego */
div.pamiec-container {
    display: flex;
    max-width: 55%;
    margin-right: 1em;
}

.pamiec-container button {
    background: linear-gradient(to top right, #777, #999) padding-box,
                linear-gradient(to bottom left, #aaa, #777) border-box;
    border-radius: 20px;
    color: black;
    border: 4px solid transparent;
    cursor: pointer;
    margin: 0 0.25em 0 0;
    box-shadow: 4px 4px 3px #333;
}

div.pamiec-container button:hover {
    background: linear-gradient(to top left, #777, #999) padding-box,
                linear-gradient(to bottom left, #aaa, #777) border-box;
}

div.pamiec-container button:active {
    box-shadow: 2px 2px 3px #333;
    color: white;
    background: linear-gradient(to top, #999, #777) padding-box,
                linear-gradient(to top, #666, #666) border-box;
}

div.workspace {
    display: flex;
    padding: 0 0 0 1em;
    text-align: left;
    background: #ddd;
    height: 5vh;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 15em;
    border-radius: 10px;
    overflow-x: auto;
}

div.historia {
    padding: 0.5em 0 0 0.5em;
    justify-content: flex-start;
    height: 15vh;
    overflow: auto;
}

div.historia p {
    max-width: 12em;
}

button.his-reset {
    width: 5em;
}

div.mem-manag {
    display: flex;
    flex-wrap: wrap;
    max-width: 15em;
}

div.stopka:nth-child(1) {
    position: relative;
    height: 10vh;
    width: 100%;
}

button.hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 2px solid #1b1bde;
    border-radius: 20%;
    background: linear-gradient(to top right, #777, #999)
}

button.hidden2 {
    position: fixed;
    top: -25%;
    left: 10%;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20%;
    background: linear-gradient(to top right, #777, #999);
    transition: top 0.6s;
}

button.hidden:hover, button.hidden2:hover {
    background: linear-gradient(to top left, #777, #999);
}

button.hidden:active, button.hidden2:active {
    background: linear-gradient(to top, #888, #666);
}

div.panel {
    height: 100px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: linear-gradient(to top right, #2828ca, #3d3dff);
    padding: 1em;
    -webkit-mask-image: radial-gradient(black 10%, black 40%, transparent 70%);
    mask-image: radial-gradient(black 10%, black 40%, transparent 70%);
}

@keyframes upadek {
    0%   {opacity: 1;}
    99%  {opacity: 0; z-index: 1;}
    100% {opacity: 0; z-index: -1;}
}

@media screen and (max-width: 950px), (max-height: 500px) {
    div.pamiec-container {
        max-width: 100%;
        margin-top: 1em;
        margin-right: 0;
    }
    div.workspace {
        max-width: none;
    }
    div.mem-manag {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
    }
}

/* Inne style */
div.aplikacja2 { background: white;}
div.grid-container2, div.pamiec-container2 {
    background: linear-gradient(to bottom left, #d5d5d5, #b5b5b5) padding-box,   /*wnętrze*/
                linear-gradient(to top left, #ccc, #d5d5d5) border-box;  /*ramka*/
    box-shadow: 4px 4px 2px 4px #777;
}
div.grid-container2 button, div.pamiec-container2 button.his-reset, div.mem-manag2 button {
    color: black;
    background: linear-gradient(to top right, #ddd, #c0c0c0) padding-box,   /*wnętrze*/
                linear-gradient(to bottom left, #c0c0c0, #ddd) border-box;  /*ramka*/
    box-shadow: 6px 6px 3px #777;
}
div.grid-container2 button:hover, div.pamiec-container2 button.his-reset:hover, div.mem-manag2 button:hover {
    background: linear-gradient(to top left, #ddd, #c0c0c0) padding-box,
                linear-gradient(to bottom left, #c0c0c0, #ddd) border-box;
    box-shadow: 6px 6px 3px #777;
}
div.grid-container2 button:active, div.pamiec-container2 button.his-reset:active div.mem-manag2 button{
    color: white;
    background: linear-gradient(to top, #c0c0c0, #ddd) padding-box,
    linear-gradient(to top, #ccc, #ccc) border-box;
    box-shadow: 2px 2px 3px #777;
}

.grid-container2 button.operator, .grid-container2 button[value="%"] {
    background: linear-gradient(to top right, #aaa, #bbb) padding-box, 
                linear-gradient(to bottom left, #ccc, #aaa) border-box;
}
.grid-container2 button.operator:hover, .grid-container2 button[value="%"]:hover {
    background: linear-gradient(to top left, #aaa, #bbb) padding-box, 
                linear-gradient(to bottom left, #ccc, #aaa) border-box;
}
.grid-container2 button.operator:active, .grid-container2 button[value="%"]:active {
    color: white;
    background: linear-gradient(to top, #bbb, #aaa) padding-box,
                linear-gradient(to top, #999, #999) border-box;
}

div.grid-container2 button:last-child {
    color: white;
    background: linear-gradient(to top right, #2b2bf8, #4b4bf8) padding-box, 
                linear-gradient(to bottom left, #5b5bf8, #2b2bf8) border-box;
}
div.grid-container2 button:last-child:hover {
    background: linear-gradient(to top left, #2b2bf8, #3b3bf8) padding-box, 
                linear-gradient(to bottom left, #5b5bf8, #2b2bf8) border-box;
}
div.grid-container2 button:last-child:active {
    color: black;
    background: linear-gradient(to top, #2b2bf8, #4b4bf8) padding-box, 
                linear-gradient(to top, #2b2bf8, #2b2bf8) border-box;
}
/* -------------------------------------------------------- */
div.aplikacja3 { background: #333;}
div.grid-container3, div.pamiec-container3 {
    background: linear-gradient(to bottom left, #3b3b3b, #1b1b1b) padding-box,   /*wnętrze*/
                linear-gradient(to top left, #333, #2b2b2b) border-box;  /*ramka*/
    box-shadow: 4px 4px 2px 4px #222;
}
div.grid-container3 button, div.pamiec-container3 button.his-reset, div.mem-manag3 button {
    color: white;
    background: linear-gradient(to top right, #3b3b3b, #1b1b1b) padding-box,   /*wnętrze*/
                linear-gradient(to bottom left, #333, #2b2b2b) border-box;  /*ramka*/
    box-shadow: 6px 6px 3px #222;
}
div.grid-container3 button:hover, div.pamiec-container3 button.his-reset:hover, div.mem-manag3 button:hover {
    background: linear-gradient(to top left, #3b3b3b, #1b1b1b) padding-box,
                linear-gradient(to bottom left, #333, #2b2b2b) border-box;
    box-shadow: 6px 6px 3px #222;
}
div.grid-container3 button:active, div.pamiec-container3 button.his-reset:active, div.mem-manag3 button:active{
    color: gray;
    background: linear-gradient(to top, #1b1b1b, #3b3b3b) padding-box,
                linear-gradient(to top, #2b2b2b, #2b2b2b) border-box;
    box-shadow: 2px 2px 3px #222;
}

.grid-container3 button.operator, .grid-container3 button[value="%"] {
    background: linear-gradient(to top right, #2b2b2b, #3b3b3b) padding-box, 
                linear-gradient(to bottom left, #4b4b4b, #2b2b2b) border-box;
}
.grid-container3 button.operator:hover, .grid-container3 button[value="%"]:hover {
    background: linear-gradient(to top left, #2b2b2b, #3b3b3b) padding-box, 
                linear-gradient(to bottom left, #4b4b4b, #2b2b2b) border-box;
}
.grid-container3 button.operator:active, .grid-container3 button[value="%"]:active {
    color: gray;
    background: linear-gradient(to top, #3b3b3b, #2b2b2b) padding-box,
                linear-gradient(to top, #1b1b1b, #1b1b1b) border-box;
}

div.grid-container3 button:last-child {
    color: white;
    background: linear-gradient(to top right, #2b2bf8, #4b4bf8) padding-box, 
                linear-gradient(to bottom left, #5b5bf8, #2b2bf8) border-box;
}
div.grid-container3 button:last-child:hover {
    background: linear-gradient(to top left, #2b2bf8, #3b3bf8) padding-box, 
                linear-gradient(to bottom left, #5b5bf8, #2b2bf8) border-box;
}
div.grid-container3 button:last-child:active {
    color: black;
    background: linear-gradient(to top, #2b2bf8, #4b4bf8) padding-box, 
                linear-gradient(to top, #2b2bf8, #2b2bf8) border-box;
}
